@import ".spoiler";
@import ".reset";
@import ".gallery";
@import ".popup";

* {
  font-family: 'Montserrat', sans-serif !important;
}

.content {
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  min-width: 600px;
}

h1 {
  font-size: 2em;
  margin: 5px;
}

.spacer {
  height: 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.footer {
  border-top: 1px black solid;
  bottom: 0;
  position: fixed;
  text-align: center;
  height: 50px;
  width: 100%;
  margin: 0;
  background: #e2e1e1;
}

body {
  padding-bottom: 50px;
}

b {
  font-weight: 500;
}
